.grid-stack, body,, html {
  width: 100%;
  height: 100%;
}

.body {
  padding-top:60px;
}
.grid-stack {
  margin-top:15px;
}

.form-inline{
  margin-top: 12px;
} 
.grid-stack-item-content {
}

.panel {
  width:100%;
  bottom: 0;
  top: 0;
}

.profile_picture {
  float: left;
  width: 25px;
  height: 25px;
  background-size: contain;
  margin-right: 10px;
}

.add_panel {
  float: right;
  padding: 10px;
  margin: 20px;
}


.remove_panel {
  float: right;
  padding: 4px;
  margin: 0px;
}

.panel-heading > h3 {
  width: 50%;
}
