body {
  background-color: #F1F1F1;
}


/* Hover Effect */

.panel-heading:hover {
  //-ms-transform: scale(1.02,1.02); /* IE 9 */
  //-webkit-transform: scale(1.02,1.02); /* Safari */
  //transform: scale(1.02,1.02);
  z-index: 9999;
  cursor: pointer;
  //background:#fff;
  //background-image: linear-gradient(-180deg, #FFFFFF, #EBEBEB);
}


/* Panel header color on active */

.panel-info > .panel-heading:active {
  background-color: #37BCFF;
}

.panel-warning > .panel-heading:active {
  background-color: #FDDA24;
}

.panel-danger > .panel-heading:active {
  background-color: #FF3B3B;
}


/* Drag gridstack panel color
.panel-heading:active {
    //background: #333;
    background:hsl(240,65%,50%);
  -webkit-box-shadow: inset 0 0 10px #CCCCCC;
    -moz-box-shadow: inset 0 0 10px #CCCCCC;
    box-shadow: inset 0 0 10px #CCCCCC;
}*/


/* Gridstack */

.grid-stack-item-content {
  //background: rgba(255, 255, 222, 0.1);
  background: #FFF;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  //box-shadow: 5px 5px 5px grey;
}


/* Align Panel Text */

.panel-title {
  text-align: center;
  /*color: #FFF;*/
}

.panel-title > a {
  color: inherit;
}


/* Fixes Font Awesome and Gridstack Resizer */

.grid-stack-item > .ui-icon.ui-resizable-handle {
  background-image: none;
}


/* Custom Scroller */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}


/* Panel Color Overrides
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF5F5F5', endColorstr='#FFE8E8E8', GradientType=0);
}

.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #007aff 0%, #006fe6 100%);
  background-image: -o-linear-gradient(top, #007aff 0%, #006fe6 100%);
  background-image: linear-gradient(to bottom, #007aff 0%, #006fe6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF007AFF', endColorstr='#FF006FE6', GradientType=0);
}

.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #4cd964 0%, #37d551 100%);
  background-image: -o-linear-gradient(top, #4cd964 0%, #37d551 100%);
  background-image: linear-gradient(to bottom, #4cd964 0%, #37d551 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF4CD964', endColorstr='#FF37D551', GradientType=0);
}

.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #007aff 0%, #006fe6 100%);
  background-image: -o-linear-gradient(top, #007aff 0%, #006fe6 100%);
  background-image: linear-gradient(to bottom, #007aff 0%, #006fe6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF007AFF', endColorstr='#FF006FE6', GradientType=0);
}

.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #fc0 0%, #e6b400 100%);
  background-image: -o-linear-gradient(top, #fc0 0%, #e6b400 100%);
  background-image: linear-gradient(to bottom, #fc0 0%, #e6b400 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFCC00', endColorstr='#FFE6B400', GradientType=0);
}

.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #ff3b30 0%, #ff2217 100%);
  background-image: -o-linear-gradient(top, #ff3b30 0%, #ff2217 100%);
  background-image: linear-gradient(to bottom, #ff3b30 0%, #ff2217 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF3B30', endColorstr='#FFFF2217', GradientType=0);
}

/* Button Color Overrides
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: thin dotted;
  outline: 5px auto-webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:focus {
  color: #007aff;
  text-decoration: none;
}
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: #007aff;
  background-color: #fff;
  border-color: #007aff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #007aff;
  background-color: #e6e6e6;
  border-color: #005ec2;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #007aff;
}
.btn-default .badge {
  color: #fff;
  background-color: #007aff;
}

.btn-primary {
  color: #fff;
  background-color: #007aff;
  border-color: #006fe6;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0063cc;
  border-color: #0051a8;
}
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: #007aff;
  border-color: #006fe6;
}
.btn-primary .badge {
  color: #007aff;
  background-color: #fff;
}

.btn-success {
  color: #fff;
  background-color: #4cd964;
  border-color: #37d551;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #2ac845;
  border-color: #24aa3a;
}
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: #4cd964;
  border-color: #37d551;
}
.btn-success .badge {
  color: #4cd964;
  background-color: #fff;
}

.btn-info {
  color: #fff;
  background-color: #34aadc;
  border-color: #24a1d2;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #2190bd;
  border-color: #1b799e;
}
.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-image: none;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: #34aadc;
  border-color: #24a1d2;
}
.btn-info .badge {
  color: #34aadc;
  background-color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #fc0;
  border-color: #e6b400;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #cca000;
  border-color: #a88100;
}
.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: #fc0;
  border-color: #e6b400;
}
.btn-warning .badge {
  color: #fc0;
  background-color: #fff;
}

.btn-danger {
  color: #fff;
  background-color: #ff3b30;
  border-color: #ff2217;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #fc0d00;
  border-color: #d80b00;
}
.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
  background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: #ff3b30;
  border-color: #ff2217;
}
.btn-danger .badge {
  color: #ff3b30;
  background-color: #fff;
}

.btn-link {
  font-weight: normal;
  color: #007aff;
  cursor: pointer;
  border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #999;
  text-decoration: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
  width: 100%;
} */
